@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/vendor/fonts/glyphicons-halflings-regular.eot');
    src: url('/vendor/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/vendor/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/vendor/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/vendor/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    background: #ffffff;
}

