<form name="loginForm" ng-submit="login()" ng-controller="LoginCtrl" role="form" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <legend>Login</legend>
        </div>
        <div ng-show="!!errorMessage" class="form-group has-error">
            <span class="help-block">{{errorMessage}}</span>
        </div>
        <div class="form-group">
            <input ng-model="user.username" type="text" name="username" class="form-control" placeholder="Username"
                   required="required" data-ng-pattern="/[A-Za-z0-9_-]{6,20}/" autofocus>
        </div>
        <div class="form-group">
            <input ng-model="user.password" type="password" name="password" class="form-control" placeholder="Password"
                   required="required" data-ng-pattern="/.{6,20}/">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </fieldset>
</form>